# Quarto y artefactos generados
/.quarto/
**/*.quarto_ipynb
site_libs/

# Archivos de salida y artefactos
_public/
*.ipynb
*.pyc
__pycache__/

# Archivos temporales y de sistema
.DS_Store
*.swp
*.swo
*.bak
*.tmp

# Carpeta de imágenes eliminadas o basura
.trash/

# Otros archivos innecesarios
*.log

# Excluir configuraciones locales
.vscode/
.env
